/* Global styles */
body {
    background-color: #ecf0f1;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    text-align:justify;
}

p.lead {
  font-weight: bold;
    font-size: 1.5em;
}

h1,
h2,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

#content {
    background-color: #fff; 
}

#top-header {
    background-color:#7f8c8d;
    color: #fff;
}

.contact-flyout {
    padding-top: 0.313em;
}

/* Top menu styling */
#top-header ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

#top-header li{
    float:left;
    position: relative;
    color: #fff;
}

#top-header a {
    color: #fff;
    display: block;
    text-decoration: none;
    height: 1.875em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    padding-top: 0.125em;
}

#top-header ul ul {
    display: none;
    float: left;
    margin: 0;
    position: absolute;
    z-index: 99999;
}

#top-header ul ul ul {
    left: 100%;
    top: 0;
}

#top-header ul ul a {
    background: #fff;
    border-bottom: 1px solid #ddd;
    color:#000;
    height: auto;
    line-height: 1.4em;
    padding: 0.625em 0.625em;
    width: 10.500em;
}

#top-header li:hover > a,
#top-header ul ul :hover > a,
#top-header a:focus
    {
    color: #000;
    background-color: #fff;
}

#top-header li:hover > a,
#top-header a:focus
    {
    background-color: #fff;
}

#top-header ul li:hover > ul {
    display: block;   
}

#top-header .current-menu-item > a,
#top-header .current-menu-ancestor > a,
#top-header .current_page_item > a,
#top-header .current_page_incestor > a {
    color: #000;
    background-color: #fff;
    padding-left: 0.625em;
    padding-right: 0.625em;
    padding-top: 0.125em;
}

/* Main menu styles */
#main-menu {
    background-color: #2c3e50;
}

#main-menu ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

#main-menu li{
    float:left;
    position: relative;
    color: #fff;
}

#main-menu a {
    color: #fff;
    display: block;
    text-decoration: none;
    height: 3.125em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    padding-top: 0.750em;
}

#main-menu ul ul {
    display: none;
    float: left;
    margin: 0;
    position: absolute;
    z-index: 99999;
}

#main-menu ul ul ul {
    left: 100%;
    top: 0;
}

#main-menu ul ul a {
    background: #fff;
    border-bottom: 1px solid #ddd;
    color:#000;
    height: auto;
    line-height: 1.4em;
    padding: 0.625em 0.625em;
    width: 10.500em;
}

#main-menu li:hover > a,
#main-menu ul ul :hover > a,
#main-menu a:focus
    {
    color: #000;
    background-color: #fff;
}

#main-menu li:hover > a,
#main-menu a:focus
    {
    background-color: #fff;
}

#main-menu ul li:hover > ul {
    display: block;   
}

#main-menu .current-menu-item > a,
#main-menu .current-menu-ancestor > a,
#main-menu .current_page_item > a,
#main-menu .current_page_incestor > a {
    color: #000;
    background-color: #fff;
    padding-left: 0.625em;
    padding-right: 0.625em;
    padding-top: 0.750em;
}

#header {
    background-color: #ecf0f1;
}

/*Home page styles */
.featured-posts {
    
}

.post-exclusive {
    background-color: #e74c3c;
    color: #fff;
    padding-left: 0.313em;
    padding-right: 0.313em;
    margin-right: 0.313em;
}

.post-home {
    padding-left: 0.625em;
    min-height: 10.313em;
}

.post-home h2 {
    font-size: 1.4375rem;
}

.post-img {
    float: right;
}

.post-title {
    
}

.post-meta {
    color: #7f8c8d;
    margin-top: 0;
    margin-bottom: 0.625em;
}

.post-excerpt {
    
}

.wp-admin #wpabar {
     top: -28px !important;
}

/* Footer styles */
#footer {
    background-color: #ecf0f1;
}

.footer-widget {
    float: left;
}

/*Single styles */
.author-box {
    border-top: #bdc3c7 solid 1px;
  
}

/* Footer menu */

#footer-menu ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

#footer-menu  li{
    float:right;
    color: #fff;
}

#footer-menu  a {
    color: #fff;
    display: block;
    text-decoration: none;
    height: 3.125em;
}


#footer-menu  li:hover > a,
#footer-menu  ul ul :hover > a,
#footer-menu  a:focus
    {
    color: #000;
    background-color: #fff;
}

#footer-menu  li:hover > a,
#footer-menu  a:focus
    {
}

#footer-menu  ul li:hover > ul {
    display: block;   
}

#footer-menu  .current-menu-item > a,
#footer-menu  .current-menu-ancestor > a,
#footer-menu  .current_page_item > a,
#footer-menu  .current_page_incestor > a {
    color: #000;
    padding-left: 0.625em;
    padding-right: 0.625em;
    padding-top: 0.750em;
}

